ion-input {
  border: 1px solid #ccc;
}

.fadein {
  animation: fadeIn 0.25s;
}

.fadeout {
  animation: fadeOut 0.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}